body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  direction: rtl;
}

header {
  background: #0A1A5C;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #C62828;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

nav a:hover {
  background: #b71c1c;
}

section {
  padding: 20px;
}

.countdown {
  font-size: 22px;
  text-align: center;
  background: #f00606;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  color: #fff;
}

footer {
  background: #0A1A5C;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}